parameters:
	level: 6
	paths:
		- includes
		- plugin.php
		- uninstall.php
	scanDirectories:
		- vendor/wordpress/php-ai-client/src
		- ../../../wp-includes/php-ai-client/src
	bootstrapFiles:
		- plugin.php
	treatPhpDocTypesAsCertain: false
